<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CLIENT_ID</key>
        <string>978902837598-7g8f4kkqla1n1b1cupplq16vnmfgrmp3.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.978902837598-7g8f4kkqla1n1b1cupplq16vnmfgrmp3</string>
        <key>API_KEY</key>
        <string>AIzaSyBhqM2-gR9js_gpUKYhQU7sD1zsmrqXSeY</string>
        <key>GCM_SENDER_ID</key>
        <string>978902837598</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.app.MentorMate</string>
        <key>PROJECT_ID</key>
        <string>metormate</string>
        <key>STORAGE_BUCKET</key>
        <string>metormate.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:978902837598:ios:809346f343b7dbaddd47cf</string>
    </dict>
</plist>
